<app-page [breadcrumb]="breadcrumb" [isFooter]="false">
  <div page-body class="lists-designer-page">
    <div class="page-card">
      <app-entity-toolbar
        [showCounts]="false"
        [newLabel]="'Add Grid Configuration'"
        [showRefresh]="false"
        [showFilter]="true"
        [searchPlaceholder]="'Search grid configurations...'"
        [searchSuggestions]="gridSearchHints"
        (search)="onEntitySearch($event)"
        (newClick)="addGridConfig()"
        (filterClick)="onFilterClick()">
      </app-entity-toolbar>

      <div class="config-grid-section grid-toolbar-hidden">
        <app-grid
          [rowData]="gridConfigs"
          [columnDefs]="columnDefs"
          [gridOptions]="gridOptions"
          [defaultViewMode]="'list'"
          [searchPlaceholder]="'Search grid configurations...'">
        </app-grid>
      </div>
    </div>
  </div>
</app-page>
