<div class="bed-form-dialog">
  <form [formGroup]="bedForm" class="bed-form">
    <div class="form-row">
      <div class="form-field">
        <app-selectbox
          [label]="'Select Floor'"
          [data]="bedForm.controls['floor'].value"
          (dataChange)="bedForm.controls['floor'].setValue($event); handleFloorChange()"
          [options]="getFloorOptions()"
          [valueField]="'value'"
          [displayExpr]="'label'"
          [required]="true">
        </app-selectbox>
      </div>

      <div class="form-field">
        <app-selectbox
          [label]="'Select Room'"
          [data]="bedForm.controls['room'].value"
          (dataChange)="bedForm.controls['room'].setValue($event); handleRoomChange()"
          [options]="getAvailableRoomsList()"
          [valueField]="'value'"
          [displayExpr]="'label'"
          [required]="true"
          [disabled]="!bedForm.controls['floor'].value">
        </app-selectbox>
      </div>

      <div class="form-field">
        <app-input
          [label]="'Bed ID'"
          [placeholder]="'e.g., A, B, C'"
          [value]="bedForm.controls['bedId'].value"
          (valueChange)="bedForm.controls['bedId'].setValue($event)"
          [required]="true">
        </app-input>
      </div>

      <div class="form-field">
        <app-selectbox
          [label]="'Bed Status'"
          [data]="bedForm.controls['status'].value"
          (dataChange)="bedForm.controls['status'].setValue($event)"
          [options]="bedStatusOptions"
          [valueField]="'value'"
          [displayExpr]="'label'"
          [required]="true">
        </app-selectbox>
      </div>
    </div>

    <!-- Bed Facilities -->
    <div class="facilities-section" formGroupName="facilities">
      <h4>Bed Facilities</h4>
      <div class="facilities-grid">
        @for (facility of bedFacilitiesOptions; track facility) {
          <div
            class="facility-item">
            <input
              type="checkbox"
              [id]="'form-' + facility.key"
              [formControlName]="facility.key"
              class="facility-checkbox">
              <label [for]="'form-' + facility.key" class="facility-label">
                <app-icon [fontIcon]="facility.icon" [size]="16"></app-icon>
                <span>{{ facility.label }}</span>
              </label>
            </div>
          }
        </div>
      </div>
    </form>
  </div>

