<div class="tab-config-dialog">
  <div class="dialog-content">
    <p>Overview is always enabled and first.</p>
    <div class="tab-config-list">
      @for (item of tabConfigItems; track item; let i = $index) {
        <div class="tab-config-item">
          <div class="left">
            <app-button
              type="button"
              class="reorder-btn"
              [fontIcon]="'arrow_upward'"
              [appearance]="'icon'"
              [disabled]="i===0 || item.id==='overview' || (i>0 && tabConfigItems[i-1].id==='overview')"
              (btnClick)="moveTabUp(i)">
            </app-button>
            <app-button
              type="button"
              class="reorder-btn"
              [fontIcon]="'arrow_downward'"
              [appearance]="'icon'"
              [disabled]="i===tabConfigItems.length-1 || item.id==='overview'"
              (btnClick)="moveTabDown(i)">
            </app-button>
          </div>
          <div class="center">
            <app-icon [fontIcon]="item.icon" [size]="18"></app-icon>
            <span class="tab-label">{{ item.label }}</span>
          </div>
          <div class="right">
            <mat-slide-toggle
              [(ngModel)]="item.enabled"
              [disabled]="item.id==='overview'"
              (change)="toggleTabEnabled(item)">
              Enabled
            </mat-slide-toggle>
          </div>
        </div>
      }
    </div>
  </div>
</div>

