<div class="floor-edit-dialog">
    <h2>Edit Floor</h2>
  
    <form [formGroup]="floorForm" (ngSubmit)="onUpdate()">
      <div class="form-row">
        <app-input
          label="Floor Number"
          type="number"
          [value]="floorForm.controls['floorNumber'].value"
          (valueChange)="floorForm.controls['floorNumber'].setValue(+$event)"
        >
        </app-input>
  
        <app-input
          label="Floor Name"
          [value]="floorForm.controls['floorName'].value"
          (valueChange)="floorForm.controls['floorName'].setValue($event)"
          >
        </app-input>
      </div>
  
      <div class="dialog-actions">
        <app-button
          text="Cancel"
          color="secondary"
          appearance="stroked"
          (btnClick)="onCancel()">
        </app-button>
  
        <app-button
          text="Update"
          color="primary"
          fontIcon="save"
          type="submit"
          [disabled]="floorForm.invalid">
        </app-button>
      </div>
    </form>
  </div>
  