<div class="dialog-body">
  <div class="form-area">
    <div class="form-row">
      <div class="form-field full-width">
        <label>Template Name</label>
        <input
          type="text"
          [(ngModel)]="templateName"
          placeholder="e.g., Hypertension Starter Pack" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-field full-width">
          <label>Selected Medicines</label>
          <ul class="selected-meds-list">
            @for (med of selectedMedications; track med) {
              <li>
                {{ med.name }} • {{ med.dosage }} • {{ med.frequency }}
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>


