<div class="vitals-tab">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <app-icon fontIcon="favorite" [size]="24"></app-icon>
        {{'VITAL_SIGNS_HISTORY'|translate}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="vitalSigns" class="vitals-table">
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Vital Sign</th>
          <td mat-cell *matCellDef="let vital">{{ vital.type }}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let vital">
            <span [class.abnormal]="!vital.isNormal">{{ vital.value }} {{ vital.unit }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let vital">
            <span class="status-badge" [class]="vital.isNormal ? 'normal' : 'abnormal'">
              <app-icon [fontIcon]="vital.isNormal ? 'check_circle' : 'warning'" [size]="16"></app-icon>
              {{ vital.isNormal ? 'Normal' : 'Abnormal' }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let vital">{{ vital.date | date:'mediumDate' }}</td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let vital">{{ vital.time | date:'shortTime' }}</td>
        </ng-container>
        <ng-container matColumnDef="recordedBy">
          <th mat-header-cell *matHeaderCellDef>Recorded By</th>
          <td mat-cell *matCellDef="let vital">{{ vital.recordedBy }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
