<app-page [breadcrumb]="breadcrumb" [isFooter]="false">
  <div page-body class="appointment-container">
    <div class="tab-content">
      <div class="grid-wrapper">
        <app-entity-toolbar
          [title]="'Appointments'"
          [showCounts]="true"
          [currentCount]="displayedRows"
          [totalCount]="totalRows"
          [newLabel]="'Add Appointment'"
          [showRefresh]="true"
          [showFilter]="true"
          [searchPlaceholder]="'Search appointments...'"
          [searchSuggestions]="appointmentSearchHints"
          (search)="onAppointmentSearch($event)"
          (newClick)="createAppointment()"
          (refreshClick)="refreshAppointmentGrid()"
          (filterClick)="onAppointmentFilterClick()">
        </app-entity-toolbar>

        <app-grid
          #appointmentGrid
          [apiConfig]="apiConfig"
          [columnDefs]="appointmentColumns"
          [gridOptions]="appointmentGridOptions"
          [height]="'500px'"
          [showHeader]="false"
          [searchPlaceholder]="'Search appointments...'"
          (rowClicked)="onAppointmentRowClick($event)"
        ></app-grid>
      </div>
    </div>
  </div>
</app-page>
