<app-page [breadcrumb]="breadcrumb" [isFooter]="false">
  <div page-body class="appointment-container">
    <div class="tab-content">
      <app-grid
        [apiConfig]="apiConfig"
        [columnDefs]="appointmentColumns"
        [gridOptions]="appointmentGridOptions"
        [height]="'500px'"
        [showHeader]="true"
        [rightTooltemplateRef]="rightTooltemplateAppointment"
        [searchPlaceholder]="'Search appointments...'"
        (rowClicked)="onAppointmentRowClick($event)"
      ></app-grid>
    </div>
  </div>
</app-page>

<ng-template #rightTooltemplateAppointment>
  <div class="grid-actions">
    <app-icon [fontSet]="'material-icons-outlined'" [isCovered]="true" [fontIcon]="'add'" (click)="createAppointment()"></app-icon>
  </div>
</ng-template>
