.tasks-list-dialog {
    height: 100%;
  .dialog-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .tasks-grid-container {
    height: 100%;
    overflow: hidden;
  }
}

