<div class="app-card-header" *ngIf="showHeader">
  <div class="app-card-title">
    <div class="app-card-title-row">
      <h3 class="app-card-title-text" *ngIf="title">{{ title }}</h3>
      <span class="app-card-separator" *ngIf="title && subtitle">|</span>
      <span class="app-card-subtitle" *ngIf="subtitle">{{ subtitle }}</span>
    </div>
  </div>

  <div class="app-card-actions" *ngIf="hasActions">
    <ng-content select="[appCardActions]"></ng-content>
  </div>
</div>

<ng-content></ng-content>
